# Big Data Analysis using Dask

This notebook demonstrates scalable data processing using Dask.
The dataset is analyzed to extract insights such as:
- Average values
- Group-wise aggregations
- Survival distribution
- Gender-based survival rate

Dask is used to handle large datasets efficiently.

In [1]:
import dask.dataframe as dd
import pandas as pd

In [2]:
df = dd.read_csv("big_data.csv")

df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,<NA>,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,<NA>,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,<NA>,S

In [3]:
print("Number of Rows:", df.shape[0].compute())
print("Columns:", df.columns)

Number of Rows: 891
Columns: Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [4]:
print("Average Age:", df['Age'].mean().compute())

print("Survival Count:")
print(df['Survived'].value_counts().compute())

print("Passenger Class Distribution:")
print(df['Pclass'].value_counts().compute())

Average Age: 29.69911764705882
Survival Count:
Survived
0    549
1    342
Name: count, dtype: int64
Passenger Class Distribution:
Pclass
1    216
2    184
3    491
Name: count, dtype: int64

In [5]:
print("Survival Rate by Gender:")
print(df.groupby("Sex")["Survived"].mean().compute())

Survival Rate by Gender:
Sex
female    0.742038
male      0.188908
Name: Survived, dtype: float64